<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Files</title>
  </head>
  <body>
    <h1>Your Files</h1>

    <% if (files.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>File Name</th>
          <th>Folder Name</th>
          <th>File Size (KB)</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <% files.forEach(file => { %>
        <tr>
          <td><%= file.name %></td>
          <td><%= file.folder.name %></td>
          <td><%= (file.size / 1024).toFixed(2) %> KB</td>
          <td><%= new Date(file.createdAt).toLocaleDateString() %></td>
          <form action="/files/delete/<%= file.id %>" method="post">
            <button type="submit">Delete File</button>
          </form>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <p>No files found.</p>
    <% } %>
  </body>
</html>
